/**
 * Styles for Sample
 *
 * @author Takuto Yanagida
 * @version 2025-04-25
 */

.frame-hero {
	width   : 100%;
	position: relative;

	&::before {
		content     : '';
		display     : block;
		aspect-ratio: 3 / 1;
	}

	.slider-simplex {
		position: absolute;
		inset   : 0;

		--size-width : auto;
	}
}

.slider-simplex:not(.fill) {
	margin-inline: calc(50% - 50vw + 1rem) calc(50% - 50vw + 1rem);
	--size-width : 24rem;
}

.slider-simplex.fade { --effect-type: fade; }
.slider-simplex.slide { --effect-type: slide; }
.slider-simplex.scroll { --effect-type: scroll; --show-side-slide: true; }

.slide-buttons {
	display        : flex;
	justify-content: center;
	gap            : 1rem;

	list-style-type: none;
	padding        : 0;

	li {
		display: contents;
	}

	button {
		padding: 0;

		width : 5rem;
		height: 3rem;
	}
}

.slider-simplex.ecs {
	--size-width : 24rem;
	--slide-ratio: 1;

	.slides > li {
		border    : 2rem solid transparent;
		transition: border-width 1s;

		&:is([data-state='in'], [data-state='display']) {
			border-width: 0;
		}
	}
}
